<h1>Login!</h1>
<br>
<form action="/login" method="POST">
<label for="name">Enter your name: </label>
<input type="text" id="name" name="name">
<br>
<br>
<label for="password">Enter your password: </label>
<input type="password" id="password" name="password">
<br>
<br>
<input type="submit" value="Login!">
</form>
<br>
<a href="/signup"><input type="submit" value="Sign Up!"></a>
