<h2>Publishers List</h2>
<p>Select the publisher name to see all of your books by the publisher</p>

<ul>
<%@publishers.map.uniq.each do |publisher|%>
  <li><a href="/publishers/<%=publisher.id%>"><%= publisher.name%></a></li>
<%end%>
</ul><br><br>

<a href="/books">Return to Books Index</a><br>
<a href="/logout">Log out</a>
