<h1>Login to Your Account</h1>
<form action='/login' method="POST">
<label for="name">Enter your name: </label>
<input type="text" name="name" id="name"><br>

<label for="password">Enter your password: </label>
<input type="password" name="password" id="password"><br>

<input type='submit' value='Login'>
</form>
<br>
<a href="/signup"><input type="submit" value="New? Sign Up Here!"></a>
