<h2> Edit Book Details </h2>

<form method="post" action="/books/<%=@book.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Title:
  <input type="text" name="content" value="<%= @book.title %>"><br>
  Summary:
  <input type="text" name="content" value="<%= @book.summary %>"><br>
  <input type="submit" value="submit">
</form>
<br>
<a href="/">Home</a>
<a href="/logout">Log out</a>
