
<h1> Welcome, <%= current_reader.name %></h1>
<h2> Here are your books: </h2>
<ul>
<% @books.each do |book| %> <!--books need to be hrefs to books show Page-->
  <li>
    <%= book.title%>
  </li>
<% end %>
</ul>






<a href="/books/new"> Add a New Book </a><br>
<a href="/publishers"> See all of your books from a given publisher </a><br>
<a href="/">Home</a><br>
<a href="/logout">Log out</a>
