
<h1> Welcome, <%= current_reader.name %></h1>
<h2> Here are all of the books you have added: </h2>
<br>

<% @books.each do |book| %>
  <li><p><a href="/books/<%= book.id %>"><%= book.title %></a></p></li>
<% end %>


<% if @books.empty? %>
  <p> You currently do not have any books. </p>
<% end %>
<br>



<a href="/books/new"><input type="button" value="Add a new book!"</a>
<br>
<a href="/publishers"> <input type="button" value="See all of your books from a given publisher" </a>
<br>
<a href="/logout">Log out</a>
