<h2> Add a New Book! </h2>

<form action="/books" method="post">
<br>
<br>
<label>Enter the Book Title:</label><br>
<input type="text" name="book[title]" id="book_title">
<br>
<br>
<br>
<label>Choose an existing publisher:</label><br>
<%@publishers.each do |publisher|%>
  <input type="checkbox" name="book[publisher_id]" id="<%=publisher.id%>" value="<%=publisher.id%>"><%=publisher.name%></input>
<%end%><br>
<br>
<label>Or, create a new publisher:</label><br>
<label>name:</label>
<input type="text" name="publisher[name]" id="publisher_name"></input>
<br>



<input type="submit" value="Add this Book!">
</form><br>
<br>
<a href="/books"><input type="submit" value="Return to Books Index"></a>
<br>
<a href="/publishers"><input type="submit" value="Return to Publishers Index"></a>
