<h2> Add a New Book! </h2>

<form action="/books" method="post">
<br>
<br>
Enter the Book Title:
<input type="text" name="title">
<br>

Enter the Book Publisher's Name:
<input type="text" name="publisher"><br>
<br>
Or choose an existing publisher:
<% if !@publishers.empty? %>
  <% @publishers.each do |publisher| %>
    <input type="checkbox" name="publisher_id" id="<%= publisher.id %>"> value="<%= publisher.id %>"><%= publisher.name %></input>
  <% end %>
  <% else %>
    <p> There are no publishers currently listed</p>
  <% end %>
<br>

Enter the Book's summary:
<input type="text" name="summary">
<br>
<input type="submit" value="Add this Book!">
</form><br>
<br>
<a href="/books"><input type="submit" value="Return to Books Index"></a>
<br>
<a href="/publishers"><input type="submit" value="Return to Publishers Index"></a>
