<h2> Add a New Book! </h2>

<form action="/books" method="post">
<br>
<br>
Enter the Book Title:
<input type="text" name="title">
<br>

Enter the Book Publisher's Name:
<input type="text" name="publisher"><br>


<input type="submit" value="Add this Book!">
</form><br>
<br>
<a href="/books"><input type="submit" value="Return to Books Index"></a>
<br>
<a href="/publishers"><input type="submit" value="Return to Publishers Index"></a>
