<form action='/books' method="post">
    Book Title:
    <input type="text" name="title"><br>
    Book Publisher:
    <input type="text" name="publisher"><br>
    Add this book to your list!

    <input type="submit" name="submit" id="submit">



  </form>
