<h2> Add a New Book! </h2>
<form action='/books' method="post">

<label>Book Title:</label>
<input type="text" name="title"><br>
<label>Book Publisher:</label>
<input type="text" name="publisher"><br>

<label>Add this book to your list!</label>
<input type="submit" name="submit" id="submit">
</form><br>

<a href="/">Home</a>
<a href="/logout">Log out</a>
