<p>Book Title: <%= @book.title %></p>
<p>Publisher: <%= @book.publisher.name %></p>


<form method="post" action="/books/<%=@book.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>

<a href="/books/<%=@book.id%>/edit">Edit Book Details </a>
<a href="/books">Return to Books Index</a>
