<h1>Welcome to your Library of Books!</h1><br>
<h3>Here you can track your personal list of books and each associated publisher!</h3>
<br>
<h4>Please sign up or log in to access your books</h4>
<form action='/signup' method='get'>
  <p><input type='submit' value='Sign Up'> Create a new account!</p>
</form>
<p>OR</p>
<form action='/login' method='get'>
  <p><input type='submit' value='Log In'> Login to your account!</p>
</form>
