<h1>Welcome to your Library of Books!</h1><br>
<h3>Here you can track your personal list of books and their associated publishers!</h3><br>

<form action='/users/signup' method='get'>
  <p><input type='submit' value='Sign Up'> Create a new account!</p>
</form>
<p>   or</p>
<form action='/sessions/login' method='get'>
  <p><input type='submit' value='Log In'> Login to your existing account!</p>
</form>
